<modal #modal>
    <modal-header>
        <h1 class="modal-title">Update log</h1>
    </modal-header>
    <modal-body>
    	<h3>November 13th, 2016 Update Notes</h3>
        <ul>
        	<li>Fixed a bug where clicking on a word wouldn't provide all possible meanings.</li>
        	<li>Fixed a bug where words weren't marked when printing on Chrome.</li>
        	<li>New meaning selection user interface.</li>
        	<li>Clicking the cog icon now actually shows a settings dialog.</li>
        	<li>Welcome screen looks a bit nicer (but we are still working on it).</li>
        	<li>The application is now in English (except the title - do you have an idea for a new title?).</li>
        	<li>The application now works on Safari.</li>
        </ul>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
    </modal-footer>
</modal>
