.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top:  -10px;
}
.spinner span {
  display: block;
  height: 20px;
  width: 20px;
  background: #dddddd;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}
.spinner span:nth-child(1) {
  left: -40px;
  animation: bounce 1s ease-in-out infinite;
}
.spinner span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}
.spinner span:nth-child(3) {
  left: 40px;
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}
