.main
	margin-top: 115px

footer
	width: 100%
	height: 20px
	font-size: .9em
	text-align: center
	color: #777

a
	color: inherit !important

.title
	text-align: center
	font-size: 78px
	line-height: 46px

.title.mobile-view
	font-size: 60px
	line-height: 35px

.title .subtitle
	font-size: 23px

.title.mobile-view .subtitle
	font-size: 15px
